<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
      <meta name="viewport" content="width=device-width" />
      <title>email template</title>
      <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
   </head>
   <body style="margin: 0;padding: 0;position: relative;">
      <center>
         <table style="width:600px;  border-spacing:0; vertical-align:middle; padding:0;border-left: 1px solid #eee;border-right: 1px solid #eee;" cellspacing="0" cellpadding="0" border="0" >
            <thead>
               <tr>
                  <td style="background: #000000;width: 100%;padding:0;margin:0;vertical-align:middle;">
                     <table style="width: 100%;padding: 0;margin: 0 auto;border-spacing: 0;vertical-align: middle;background: #000;text-align: center;" cellspacing="0" cellpadding="0" border="0">
                        <thead>
                           <tr>
                              <th style="text-align:center;padding: 26px 0 28px 0;margin:0;vertical-align: middle;">
                                 <a href="" style="display:block;padding:0;margin:0;vertical-align: middle;" >
                                 <img style="padding:0;margin:0;vertical-align: middle;" src=" <%= icons %>ABHR2-05.png" alt=""/>
                                 </a>
                              </th>
                           </tr>
                        </thead>
                     </table>
                  </td>
               </tr>
               <tr>
                  <td style="background: #EFEFF5 ; height:auto; width:100%; display:block;padding:0;margin:0;vertical-align:middle;">
                     <center>
                        <table style="width:100%; padding:0;" cellspacing="0" cellpadding="0">
                           <tr>
                              <td style="text-align: center;padding: 20px 0;background: #EFEFF5;margin: 0;vertical-align: middle;">
                                 <a href="" style="display: block;padding: 0;margin: 0;vertical-align: middle;font-family: Montserrat;font-size: 18px;color: rgba(0,0,0,0.90);line-height: 18px;text-decoration: none;text-transform: uppercase;font-weight: 700;" >
                                 <img style="padding:0;margin:0;vertical-align: middle;margin-right: 18px;" src="<%= icons %>congo.png" alt=""/>
                                 Congratulations!
                                 </a>
                              </td>
                           </tr>
                        </table>
                     </center>
                  </td>
               </tr>
               <tr>
                  <td style="padding:0;margin:0;vertical-align:middle;">
                     <table style="width:100%; padding:35px 30px 40px 30px; margin:0 auto;  background:#fff;vertical-align:middle;" cellspacing="0" cellpadding="0">
                        <tbody>
                           <tr>
                              <td style="padding:0;margin:0;vertical-align:middle;">
                                 <p style="font-family: 'Montserrat';font-size: 14px;color: #4A4A4A;line-height: 19px;font-weight: 600;margin: 0;padding: 0 0 20px 0;vertical-align: middle;margin:0;">Hi <%= user_name %>!</p>
                                 <p style="font-family: 'Montserrat';font-size: 14px;color: #4A4A4A;line-height: 19px;font-weight: 400;margin: 0;padding: 0 0 20px 0;vertical-align: middle;margin:0;">Your booking has been changed successfully. Please review your booking below.</p>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </td>
               </tr>
			   <tr>
                  <td style="padding:0 0 30px 0;margin:0;vertical-align:middle;">
                     <table style="width:100%; padding:0px 30px 0px 30px; margin:0 auto;  background:#fff;vertical-align:middle;" cellspacing="0" cellpadding="0">
                        <tbody>
                           <tr>
                              <td style="padding:0;margin:0;vertical-align:middle;">
								<h2 style="line-height: 19px;font-weight: 600;padding: 0 0 20px 0;vertical-align: middle;margin: 0;font-family: 'Montserrat';font-size: 18px;color: #4A4A4A;letter-spacing: 0.38px;"><%= car_brand %> <%= car_model %>, <%= age_of_car %></h2>
								<img style="padding:0;margin:0;vertical-align: middle;margin-right: 18px;" src='<%= carImagePath %><%= image_name %>' alt="" width="200" height="150"/>
							  </td>
							   <td style="padding:0;margin:0;vertical-align:top;">
								<h2 style="line-height: 19px;font-weight: 500;padding: 0 0 10px 0;vertical-align: middle;margin: 0;font-family: 'Montserrat';font-size: 16px;letter-spacing: 0.34px;color: #9B9B9B;text-transform: uppercase;"><%= car_class %></h2>
								<h6 style="line-height: 19px;font-weight: 500;padding: 0 0 15px 0;vertical-align: middle;margin: 0;font-family: 'Montserrat';font-size: 16px;color: #4A4A4A;letter-spacing: 0.38px;"><%= milage %> milage</h6>
								<a href="#" style="    background: #4CE5B1;font-family: 'Montserrat';font-size: 14px;color: #4A4A4A;text-align: center;text-decoration: none;padding: 8px 15px;display: inline-block;font-weight: 600;text-transform: uppercase;vertical-align: middle;margin: 0;">AED<%= total_booking_amount %></a>
								<table style="width: 100%;padding: 25px 0 0 0;margin: 0 auto;background: #fff;vertical-align: middle;" cellspacing="0" cellpadding="0">
									<tbody>
									   <tr>
											<td style="vertical-align: middle;padding: 0 5px;margin: 0;">
                                                <% if(no_of_person === 2){ %>
                                                    <img style="padding:0;margin:0;vertical-align: middle;" src="<%= icons %>p2.png" alt=""/>
                                                  <% } else if(no_of_person === 4){ %>  
                                                    <img style="padding:0;margin:0;vertical-align: middle;" src="<%= icons %>p4.png" alt=""/>
                                                 <% } else if(no_of_person === 5){ %>
                                                    <img style="padding:0;margin:0;vertical-align: middle;" src="<%= icons %>p5.png" alt=""/>
                                                 <% } else if(no_of_person === 6){ %>
                                                    <img style="padding:0;margin:0;vertical-align: middle;" src="<%= icons %>p6.png" alt=""/>
                                                 <% } else if(no_of_person === 8){  %>
                                                    <img style="padding:0;margin:0;vertical-align: middle;" src="<%= icons %>p8.png" alt=""/>
                                                 <% } else if(no_of_person === 12){ %>
                                                    <img style="padding:0;margin:0;vertical-align: middle;" src="<%= icons %>p12.png" alt=""/>
                                                 <% } else { %>
                                                    <img style="padding:0;margin:0;vertical-align: middle;" src="<%= icons %>p2.png" alt=""/>
                                                 <% }  %>


                                            </td>
											<td style="vertical-align: middle;padding: 0 5px;margin: 0;">
												<p style="font-size: 18px;color: #4A4A4A;letter-spacing: 0.38px;margin: 0;padding: 0;text-align: center;font-family: 'Montserrat';font-weight: 600;"><%= transmission %></p>
											</td>
											<td style="vertical-align: middle;padding: 0 5px;margin: 0;">
                                                      <% if(milage === 'open'){ %>
                                                        <img style="padding:0;margin:0;vertical-align: middle;" src="<%= icons %>three.png" alt=""/>
                                                      <% } else{ %>  
                                                        <p style="font-size: 18px;color: #4A4A4A;letter-spacing: 0.38px;margin: 0;padding: 0;text-align: center;font-family: 'Montserrat';font-weight: 600;"> M </p>
                                                     <% } %>
											</td>
											<td style="vertical-align: middle;padding: 0 5px;margin: 0;">
                                                <% if(driving_eligibility_criteria === 18){ %>
                                                    <img style="padding:0;margin:0;vertical-align: middle;" src="<%= icons %>a18.png" alt=""/>
                                                  <% } else if(driving_eligibility_criteria === 21){ %>  
                                                    <img style="padding:0;margin:0;vertical-align: middle;" src="<%= icons %>a21.png" alt=""/>
                                                 <% } else if(driving_eligibility_criteria === 30){ %>
                                                    <img style="padding:0;margin:0;vertical-align: middle;" src="<%= icons %>a30.png" alt=""/>
                                                 <% } else { %>
                                                    <img style="padding:0;margin:0;vertical-align: middle;" src="<%= icons %>a18.png" alt=""/>
                                                 <% }  %>
											</td>
											<td style="vertical-align: middle;padding: 0 5px;margin: 0;">
												<img style="padding:0;margin:0;vertical-align: middle;" src="<%= icons %>five.png" alt=""/>
											</td>
									   </tr>
									</tbody>   
								</table>	
							  </td>
                           </tr>
                        </tbody>
                     </table>
                  </td>
               </tr>
			   <tr>
                  <td style="padding:0;margin:0;vertical-align:middle;border-top: 1px solid #eee;border-bottom: 1px solid #eee;">
                     <table style="width:100%; padding:0px 30px 0px 30px; margin:0 auto;  background:#fff;vertical-align:middle;" cellspacing="0" cellpadding="0">
                        <tbody>
                           <tr>
                              <td style="padding: 15px 15px;margin: 0;vertical-align: middle;border-top: 0px solid #cfcfcf;border-bottom: 0px solid #cfcfcf;">
                                 <p style="font-family: 'Montserrat';font-size: 14px;color: #4A4A4A;line-height: 19px;font-weight: 600;margin: 0;padding: 0 0 0px 0;vertical-align: middle;margin:0;"><%= fromDate %></p>
                              </td>
							  <td style="padding: 15px 15px;margin: 0;vertical-align: middle;border-top: 0px solid #cfcfcf;border-bottom: 0px solid #cfcfcf;text-align: center;">
                                 <img style="padding:0;margin:0;vertical-align: middle;" src="<%= icons %>Call-1.png" alt=""/>
                              </td>
							  <td style="padding: 15px 15px;margin: 0;vertical-align: middle;border-top: 0px solid #cfcfcf;border-bottom: 0px solid #cfcfcf;    text-align: right;">
                                 <p style="font-family: 'Montserrat';font-size: 14px;color: #4A4A4A;line-height: 19px;font-weight: 600;margin: 0;padding: 0 0 0px 0;vertical-align: middle;margin:0;"><%= toDate %></p>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </td>
               </tr>
               <tr>
                  <td style="background: #4990e2 ; height:auto; width:100%; display:block;padding:0;margin:0;vertical-align:middle;">
                     <center>
                        <table style="width:100%; padding:0;margin:0;" cellspacing="0" cellpadding="0">
                           <tr>
                              <td style="width: 100%;text-align: left;padding: 20px 25px;background: #EFEFF5;margin: 0;vertical-align: middle;border-bottom: 5px solid #50E3C2;">
                                 <p style="font-family: 'Montserrat';font-size: 12.5px;color: #000;line-height: 19px;font-weight: 300;padding: 0;vertical-align: middle;margin: 0;">Please be sure to get in touch with us via chat or on <%= support_phone_number %> if you need any help!</p>
                              </td>
                           </tr>
                        </table>
                     </center>
                  </td>
               </tr>
               <tr>
                  <td style="padding:0;margin:0;vertical-align:middle;">
                     <center>
                        <table style="width: 100%;padding: 30px 20px;margin: 0;background: #000;text-align: center;" cellspacing="0" cellpadding="0">
                           <tbody>
                              <tr>
                                 <td style="padding: 0 0 20px 0;margin: 0;vertical-align: middle;">
                                    <a href="" style="padding: 0 5px;margin: 0;display: inline-block;vertical-align: middle;">
                                    <img style="vertical-align: middle;padding: 0;margin: 0;" src="<%= icons %>ic-1.png" alt="">
                                    </a>
                                    <a href="" style="padding: 0 5px;margin: 0;display: inline-block;vertical-align: middle;">
                                    <img style="vertical-align: middle;padding: 0;margin: 0;" src="<%= icons %>ic-2.png" alt="">
                                    </a>
                                    <a href="" style="padding: 0 5px;margin: 0;display: inline-block;vertical-align: middle;">
                                    <img style="vertical-align: middle;padding: 0;margin: 0;" src="<%= icons %>ic-3.png" alt="">
                                    </a>
                                 </td>
                              </tr>
                              <tr>
                                 <td style="padding: 0;margin: 0;vertical-align: middle;">
                                    <p style="text-align: center;font-family: 'Montserrat';font-size: 12px;color: #fff;line-height: 19px;font-weight: 300;padding: 0;vertical-align: middle;margin: 0;">You are receiving this email as <%= support_email %> is registered on ABHR.if you wish to unsubscribe, Click here.</p>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </center>
                  </td>
               </tr>
            </thead>
         </table>
      </center>
   </body>
   <script src="js/jquery-1.10.2.js" type="text/javascript"></script>
   <script src="js/bootstrap.min.js" type="text/javascript"></script>
</html>